
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


$theme-colors: (
  "primary": #000F1E,
  "danger": #DB0A40,
  "warning": #FFCC00,
  "info": #123778,
  "secondary": #607F9B,
  "success": #26A247,
  "light": #F8F8F8,
  "white": #ffffff,
  "dark": #000F1E,
);

// https://getbootstrap.com/docs/5.0/customize/sass/

@import "../node_modules/bootstrap/scss/bootstrap.scss";


.head nav {
    max-width: 1350px;
    margin: auto; 
}

main {
    max-width: 1320px;
    margin: auto;
}

.shell {
    max-width: 1320px;
    margin: auto;
}

div.hero-container {
    height: 70vh;
    max-width: 1320px;
    margin-top: 3.75em;
    margin-bottom: -3.75em;
}

footer {
    height: 25vh;
    max-width: 1320px;
    margin: auto;
    background-color: #ffffff;
}

p:not(.d-flex) {
    line-height: 2rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
}

* {
    font-family: 'Open Sans', sans-serif;
}

table:hover {
    cursor: pointer;
}

#us-tool-tip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
}
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#us-tool-tip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#us-tool-tip[data-show] {
    display: block;
}

.animate-1 {
    transition: transform .1s ease-in;
}

.animate-1:hover {
    transform: scale(1.01);
    cursor: pointer;
}




.bg-image {
    background-image: url("../imgs/test6.avif");
    background-position: center;
    max-width: 55rem;
    height: 25rem;
    position: relative;
    // left: 13px;
    border-radius: 1px;
    margin: auto;
    // transition: transform .1s ease-in;
}

// .bg-image:hover {
//     transform: scale(1.01);
// }


// sass --watch ./css/main.scss ./css/main.css


